<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProblemDetail</title>
</head>
<body>
    
    <h1 style="text-align: center;">{{problem.title}}</h1>
    <div style="text-align: end;">
        <a href="{% url 'submissions' id=problem.id %}">
            View Submissions</a></div>
    <p>{{problem.statement}}</p>

    <form action="{% url 'submit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{problem.id}}">
        <select name="language">
            <option value="cpp">C++</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
        </select>
        <input type="file" name="submittedFile">
        <input type="hidden" name="next" value="{{request.path}}">
        <input type="submit" value="Submit">
    </form>
</body>
</html>